html, body {
	background-color: rgba(170, 195, 164, 0.438);
	/*background-image: url("https://thumbs.dreamstime.com/b/silhouette-group-happy-children-22277571.jpg");*/
	padding : 0px;
	margin : 0px;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: sans-serif, Arial, 'Arial Narrow';
	overflow-x:hidden;
	height:100%;
}

#navbar {
	width: 100%;
	margin : 0px;
	padding : 5px;
	height: 60px;
	display : flex;
	flex-direction: row;
	background-color:rgb(33, 78, 52);
	z-index:-5;
	margin-bottom:15px;
	
}
#navbar img {
	margin: 5px;
}

.contents {
	display: grid;
	grid-template-columns: 2fr 2fr;
}

.homoDper {
	margin-top: 10px;
}

h1 {
	color: rgb(103, 70, 60);
	font-family: 'Roboto Condensed', sans-serif;
}
h2 {
	text-align: center;
}
.freq {
	/*
	margin-left: 20px;
	*/
}
.bottom_of_screen {
	margin-right: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
#main {
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color:rgb(170, 195, 164);
	border-radius:15px;
	box-shadow: 0px 0px 10px 5px rgba(33, 78, 52, 0.753);
	gap:10%;
}

.freq {
	border: 1px solid black;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 450px;
	margin-left: 20px;
	margin-top: 10px;
}

.natSel {
	border: 1px solid black;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	width: 450px;
	margin-left: 20px;
	margin-top: 10px;
}

.sample{
	margin: auto;
	width: 50%;
	text-align: center;
	margin-top: 10px;
}

table, th, td {
	padding: 5px;
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid black;
	border-collapse: collapse;
	font-weight: normal;
}

table {
	margin: auto;
	margin-top: 20px;
}

input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	margin-bottom: 10px;
}

input:active {

	border: 0px 0px 3px solid rgb(103, 70, 60);
}

button {
	padding: 10px;
	border-radius: 5px;
	border:none;
	background-color: rgb(103, 70, 60);
	color: white; 
	/* rgb(243, 196, 182); */
	transition: 0.25s all;
	margin: 5px;
}

button:hover {
	box-shadow: 0px 0px 0px 5px rgba(103, 70, 60, 0.5);
	transition: 0.25s all;
}
button:active {
	box-shadow: none; 
	 /* 0px 0px 0px 5px #4169e1; */

}

select, option {
	padding: 5px;
	border-radius: 5px;
	max-width: 20%;
}

.choochootrain{
	display:flex;
	flex-direction:column;
	/* gap:10px; */
	background-color:white;
	border-radius:5px;
	padding:15px;
	border:1px solid #000;

}

.was {
	font-family:'Courier New', Courier, monospace;
	background-color:rgba(33, 78, 52, 0.384);
}

.centerPopup, .popUpContent {
	position:absolute;
 	top:50%;
 	left:50%;
 	transform:translate(-50%,-50%);
	text-align: center;
}
.click-me {
 	background: #dde1e7;
 	cursor:pointer;
}
#click {
 	display:none;
}
.click-me:hover {
 	color: #0a5878;
}

.popUpContent {
 	visibility:hidden;  
 	width: 330px;
 	height: auto;
 	background: #dde1e7;
 	padding: 30px 35px 40px;
 	box-sizing: border-box;
 	border-radius: 5px;
}
#x {
	position:absolute;
	top: 0;
	margin-top: 10px;
 	right:10px;
 	font-size:25px;
 	padding: 3px;
 	padding-left: 11px;
 	border-radius: 50%;
 	cursor:pointer;
}


#click:checked~.popUpContent {
	opacity:1;
	visibility:visible;
}
.text {
 	font-size: 30px;
 	color: #000000;
 	font-weight: 600;
 	text-align: center;
 	letter-spacing: 2px;
}