h1 {
	color: blue;
}
h2 {
	text-align: center;
}
.freq {
	/*
	margin-left: 20px;
	*/
}
.bottom_of_screen {
	margin-right: 50px;
	position: absolute;
	bottom: 0px;
	right: 0px;
}
.left_margin {
	margin-left: 20px;
}

table, th, td {
	margin-top: 20px;
	margin-left: 20px;
	border: 1px solid black;
	border-collapse: collapse;
	font-weight: normal;
}